<section class="info_section ">
    <div class="container row d-flex justify-content-center align-items-center ">
      <div class="info_top">
        <div class="row">
          <div class="col-md-3 ">
            <a class="navbar-brand" href="index.html">
              FRS
            </a>
          </div>
          <div class="col-md-9 ">
            <div class="info_contact">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  KANPUR INSTITUTE OF TECHNOLOGY
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  +91 1234567890
                </span>
              </a>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="social_box">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    
          
          <div class="col-lg-2 col-md-6">
          
              <ul class="info_menu">
                <li>
                  <a href="home">
                    Home
                  </a>
                </li>
                <li>
                  <a href="about">
                    About
                  </a>
                </li>
                <li>
                  <a href="services">
                    Services
                  </a>
                </li>
                <li>
                  <a href="team">
                    Team
                  </a>
                </li>
                <li >
                  <a href="contact">
                    Contact Us
                  </a>
                </li>
                <li >
                  <a href="reviews">
                    Reviews
                  </a>
                </li>
                <li >
                  <a href="login">
                    Sign IN/Sign Up
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> Team 9down
      </p>
    </div>
  </footer>


  <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="js/popper.min.js" ></script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.js"></script>
  <!-- owl slider -->
  <script src="js/owl.carousel.min.js"></script>
  <!-- nice select -->
  <script src="js/jquery.nice-select.min.js" ></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
  <!-- End Google Map -->