<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/FAVICON.png" type="image/x-icon">
  <title>About us </title>
  <%- include('layouts/styles') %>

</head>

<body class="sub_page">
  <div class="hero_area">
    <div class="hero_bg_box">
      <img src="images/bg.png" alt="">
    </div>
    
    <%- include('layouts/navbar') %>


  </div>


  <!-- about section -->

  <section class="about_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 offset-md-1">
          <div class="detail-box pr-md-2">
            <div class="heading_container">
              <h2 class="">
                About Us
              </h2>
            </div>
            <p class="detail_p_mt">
              Welcome to our Faculty Review System! We prioritize transparency and excellence in academia. Our platform facilitates constructive evaluations, fostering continuous improvement in teaching and research. Join us in enhancing educational quality through meaningful feedback, empowering faculty to excel and providing students with an enriching learning experience.
            </p>
            <a href="about.html" class="">
              Read More
            </a>
          </div>
        </div>
        <div class="col-md-6 px-0">
          <div class="img-box ">
            <img src="images/FAVICON.png" class="box_img" alt="about img">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about section ends -->

      <%- include('layouts/footer') %>

</body>

</html>