<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="message.js"></script>
    <title>Students Feedback Form</title>
    <H2><Body bgcolor="Cyan"><center><FONT Size="10"><FONT Color="Voilet"> KANPUR INSTITUTE OF TECHNOLOGY </FONT></FONT></center></H2>
        <H3><center><FONT Size="5"><FONT Color="Voilet"> AKTU, AICTE, BTE and CSJMU AFFLIATED </FONT></FONT></center></H3>
        <H2><Body bgcolor="Cyan"><center><FONT Size="10"><FONT Color="Red"> FEEDBACK FORM </FONT></FONT></center></H2>
</head>
<body bgcolor="Lightpink"><form>
    <BODY background="WhatsApp Image 2023-05-28 at 9.35.44 PM.jpeg"></BODY>
    <center><P>Select Option</P>
    <select name="Feedback Options" >
        <option selected>Teachers</option>
        <option> Infrastructure</option>
    </select></center></form><br>
    <form><center>
        Remarks: <br><TEXTAREA Rows=6 Cols= 50 Name="Remarks">
            Enter your remarks here
        </TEXTAREA>
        <P>Specify your Rating</P>
        <div class="rating">
            <input type="radio" id="star5" name="rating" value="5">5
            <label for="star5"></label>
            <input type="radio" id="star4" name="rating" value="4">4
            <label for="star4"></label>
            <input type="radio" id="star3" name="rating" value="3">3
            <label for="star3"></label>
            <input type="radio" id="star2" name="rating" value="2">2
            <label for="star2"></label>
            <input type="radio" id="star1" name="rating" value="1">1
            <label for="star1"></label>
          </div>
    </center></form><center><br><br>
    <INPUT Type="Submit" value="SEND" onclick="getValue()">
    <INPUT Type="RESET" value="RESET" onclick="msg()">

    </center>
</body>
</html>