<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/app.css">
    <title>Home - FRS</title>
    <BODY background="kit.PNG"></BODY>
    
</head><H2><Body bgcolor="Cyan"><center><FONT Size="10"><FONT Color="Voilet"> KANPUR INSTITUTE OF TECHNOLOGY </FONT></FONT></center></H2>
    <H3><center><FONT Size="5"><FONT Color="Voilet"> AKTU, AICTE, BTE and CSJMU AFFLIATED </FONT></FONT></center></H3>
<body>
    <center>
    <h2>STUDENT LOGIN</h2>
    <button class="button"><span>STUDENT LOGIN </span></button>
    <h2>FACULTY LOGIN</h2>
    <button class="button"><span>FACULTY LOGIN </span></button>
    <h2>ADMIN LOGIN</h2>
    <button class="button"><span>ADMIN LOGIN </span></button>
    </center>
    </FONT>
</body>
</html>

