<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/fevicon.png" type="image/x-icon">
  <title>Services</title>

  <%- include('layouts/styles') %>

</head>

<body class="sub_page">
  <div class="hero_area">
    <div class="hero_bg_box">
      <img src="images/hero-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <%- include('layouts/navbar') %>

    <!-- end header section -->

  </div>

  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center ">
        <h2 class="">
          Our Services
        </h2>
        <p class="col-lg-8 px-0">
          Faculty Review System enhances academic evaluation, promoting transparency, efficiency, and informed decisions for continuous improvement in education.
        </p>
      </div>
      <div class="service_container">
        <div class="carousel-wrap ">
          <div class="service_owl-carousel owl-carousel">
            <div class="item">
              <div class="box ">
                <div class="img-box">
                  <img src="images/rating.jpg" alt="" />
                </div>
                <div class="detail-box">
                  <h5>
                    Rating
                  </h5>
                  <p>
                    A faculty review below 5 stars signifies identified shortcomings. Specific feedback aids improvement, fostering a culture of continuous development and ensuring high-quality education delivery in evaluated institutions.
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box ">
                <div class="img-box">
                  <img src="images/student.jpg" alt="" />
                </div>
                <div class="detail-box">
                  <h5>
                    Student Registration
                  </h5>
                  <p>
                    Student Registration service streamlines enrollment processes, ensuring accuracy and convenience for both students and institutions, enhancing educational administrative workflows.
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box ">
                <div class="img-box">
                  <img src="images/average.png" alt="" />
                </div>
                <div class="detail-box">
                  <h5>
                    Average
                  </h5>
                  <p>
                    Average denotes a middle point. In various contexts, it signifies typical performance, quality, or quantity, serving as a benchmark for comparison.
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box ">
                <div class="img-box">
                  <img src="images/feedback.png" alt="" />
                </div>
                <div class="detail-box">
                  <h5>
                    Feedback Given To Faculty
                  </h5>
                  <p>
                    Constructive feedback fuels improvement, offering insights and guidance. It's a valuable tool for growth and enhancing performance in diverse situations.
                  </p>
                </div>
              </div>
            </div>
      </div>
    </div>
  </section>

  <!-- service section ends -->

  <!-- footer section -->
  <%- include('layouts/footer') %>

  <!-- footer section -->

  
</body>

</html>