<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Home - FRS</title>
    <script type="text/javascript" src="message.js"></script>
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <BODY background="kit.PNG"></BODY>
    
    <%- include('navbar') %>
    
    
</head><H2><Body bgcolor="Cyan"><center><FONT Size="10"><FONT Color="Voilet"> KANPUR INSTITUTE OF TECHNOLOGY </FONT></FONT></center></H2>
    <H3><center><FONT Size="5"><FONT Color="Voilet"> AKTU, AICTE, BTE and CSJMU AFFLIATED </FONT></FONT></center></H3>
<body>
    <center>
      <div id="app">
        <br>
        <a class="button" href="/reviews"><span>Show Reviews</span></a>
        <a class="button" href="/login"><span>Student Login</span></a>
        <a class="button" href="/register"><span>Student Register</span></a>

      </div>
    </center>
    </FONT>
</body>
</html>