<style>

    nav {
      background-color: #333;
      height: 60px;
      display: flex;
      align-items: center;
    }
    
    .container {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .logo {
      font-size: 24px;
      color: #fff;
      text-decoration: none;
    }
    
    .nav-links {
      list-style: none;
      display: flex;
    }
    
    .nav-links li {
      margin-left: 20px;
    }
    
    .nav-links a {
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      transition: color 0.3s ease;
    }
    
    .nav-links a:hover {
      color: #ff7f50;
    }
    
    
    </style>


<nav>
    <div class="container">
      <a href="/home" class="logo">FRS App</a>
      <ul class="nav-links">
        <li><a href="/home"><i class="fa-solid fa-house"></i> Home</a></li>
        <% if (session._id) { %>
        <li><a href="/logout"><i class="fa-solid fa-right-to-bracket"></i> Logout</a></li>
        <% } else { %>
          <li><a href="/login"><i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
          <li><a href="/register"><i class="fa-solid fa-user-pen"></i> Register</a></li>
          <% } %>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </nav>

  